.texto-logcreate {
    text-align: center;
    margin-bottom: 3em;

}

.linkUno{
    position: absolute;
    text-align: left;
    margin-left: 20%;
    margin-bottom: 3em;
}

.linkDos{
    text-align: right;
    margin-right: 20%;
    margin-bottom: 3em;
}