.browsing-logo {
    height: 28vmin;
  }

.browsing{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.browsing p {
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 4em;
}

.browsing h3{
    font-size:22px ;
}

